<!DOCTYPE html>
<html>
   <html>
      <meta charset="UTF-8">
     <style>
        body{background: skyblue;font-family: verdana;color: #fff;padding: 30px;}
        h1{font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
        p{font-size: 16px;text-align: center;}
     </style>

   </html>

   <body>
       <% include partial/nav.ejs %>  <!-- include the html file -->
      <h1> CONTACT  </h1>
      <p> connect me with this number </p>
   </body>

</html>
