<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <link href="/assets/styles.css" rel='stylesheet' type='text/css' />
  </head>

   <body>
       <% include partial/nav.ejs %>  <!-- include the html file -->
      <h1> welcome to the most awesome website on the net </h1>
      <p> you won't fine a wesite better anywhere else !</p>
   </body>

</html>
